#experiences {
  background-color: #e0e0e0;
}

  #experiences h3 {
    color: #008b00;
  }

  #experiences .experience {
    margin-bottom: 35px;
  }
    #experiences .experience .title {
      font-weight: bold;
      margin-top: 10px;
    }
    
    #experiences .experience .description {
      white-space: pre-line;
    }

    #experiences .experience .details {
      color: #008b00;
    }

      #experiences .experience .details .detail {
        display: block;
        margin-bottom: 5px;
      }
      @media (min-width: 768px) {
        #experiences .experience .details .detail {
          display: inline-block;
        }
      }

      #experiences .experience .details .divider {
        display: none;
      }
      @media (min-width: 768px) {
        #experiences .experience .details .divider {
          color: #000000;
          display: inline-block;
          margin: 0 10px;
          vertical-align: 2px;
        }
      }

    #experiences .experience .link {
      color: #008b00;
      margin-left: 5px;
    }


