#footer {
  background-color: #222222;
  color: #B0B0B0;
  padding: 50px 0;
}

  #footer a {
    line-height: 24px;
  }

    #footer a span {
      float: left;
      margin-right: 10px;
      font-size: 24px;
    }
