.navbar  {
  border: 0;
  z-index: 999;
}

  .navbar-header {
    background-color: #222222;
  }

  .navbar .navbar-collapse {
    padding: 0;
  }

  .navbar .nav li a {
    display: block;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #222222;
  }
  .navbar .nav li a:hover,
  .navbar .nav li a:focus {
    color: #999999;
  }
  .navbar .nav .active a,
  .navbar .nav .active a:hover,
  .navbar .nav .active a:focus {
    background-color: #008B00;
  }

.fixed .navbar {
  position: fixed;
  top: 0;
}


@media (min-width: 768px) {
  .navbar  {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
  }

    .navbar .nav li a {
      height: 80px;
      padding-top: 30px;
    }

  .fixed .navbar  {
    top: 60px;
  }
}
