#navigation {
  margin-top: 50px;
}

.navbar {
  border: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}

  .navbar .navbar-header {
    background-color: #222222;
  }

    .navbar .navbar-header .header-text {
      color: #ffffff;
      display: inline-block;
      font-size: 18px;
      line-height: 50px;
      margin-left: 20px;
    }
    @media (min-width: 768px) {
      .navbar .navbar-header .header-text {
        display: none;
      }
    }

  .navbar .navbar-toggle {
    border-color: #b0b0b0;
  }

  .navbar .nav {
    margin: 0 -15px;
  }
  @media (min-width: 768px) {
    .navbar .nav {
      margin: 0;
    }
  }


    .navbar .nav li a {
      border-top: solid 1px #505050;
      color: #b0b0b0;
      font-weight: 500;
      padding: 20px 0;
      text-align: center;
    }
    .navbar .nav li a:focus {
      color: #b0b0b0;
    }
    .navbar .nav li:first-child a {
      border-radius: 4px 4px 0 0;
      border-top: none;
    }
    .navbar .nav li:last-child a {
      border-radius: 0 0 4px 4px;
    }

    .navbar .nav .active a,
    .navbar .nav .active a:hover,
    .navbar .nav .active a:focus {
      background-color: #008b00;
      background-image: none;
      color: #ffffff;
      font-weight: 600;
    }

.navbar.fixed {
  position: fixed;
  top: 0;
}


@media (min-width: 768px) {
  #navigation {
    margin-top: 0;
  }

  .navbar {
    right: 5%;
    width: 110px;
  }

    .navbar .container {
      padding: 0;
      width: 110px;
    }

    .navbar .navbar-collapse {
      padding: 0;
    }

    .navbar .nav li a {
      display: block;
      height: 80px;
      padding-top: 30px;
      width: 110px;
    }

  .navbar.fixed {
    top: 60px;
  }
}
