
  #pay .link {
    color: #808080;
    display: block;
    line-height: 36px;
    margin-bottom: 20px;
  }
    #pay a.link:hover {
      color: #b0b0b0;
    }
    #pay .link span {
      float: left;
      font-size: 36px;
      margin-right: 20px;
    }

  /* Reduce the spacing on top by the spacing from the <p> */
  #pay .bottom-line {
    margin-top: 0;
  }
  @media (min-width: 768px) {
    #pay .bottom-line {
      margin-top: 20px;
    }
  }