/*
Colors

@white: #ffffff;
@very-light-gray: #e0e0e0;
@light-gray: #b0b0b0;
@gray: #808080;
@dark-gray: #505050;
@very-dark-gray: #222222;
@green: #008b00;


Media Query Breakpoints

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;
*/

.jumbotron {
  background-color: #222222;
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  height: 100vh;
  margin-bottom: 0;
  opacity: 0.9;
}
@media (min-width: 991px) {
  .jumbotron {
    background: no-repeat url('./images/hmc_dartmouth_entrance.jpg');
    background-size: cover;
  }
}

  .jumbotron .container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 80px;
    text-align: center;
  }

    .jumbotron .container h1 {
      margin-bottom: 0;
    }
    .jumbotron .container  p {
      margin-top: 0;
    }
    .jumbotron .container  hr {
      width: 175px;
    }
    @media (min-width: 768px) {
      .jumbotron .container h1 {
        font-size: 72px;
      }
      .jumbotron .container  p {
        font-size: 24px;
      }
      .jumbotron .container  hr {
        width: 350px;
      }
    }

  .jumbotron .scroll-down {
    background-color: #222222;
    border: none;
    border-top: solid 1px #e0e0e0;
    bottom: 0;
    height: 80px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  @media (min-width: 768px) {
    .jumbotron .scroll-down {
      border: solid 1px #505050;
      border-bottom: none;
      right: 5%;
      width: 110px;
    }
  }

    .jumbotron .scroll-down .glyphicon {
      animation-direction: normal;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: wiggle;
      animation-timing-function: linear;
      color: #ffffff;
      font-size: 30px;
      left: 2px;
    }
      @keyframes wiggle {
        0% {
          padding-top: 5px;
        }
        50% {
          padding-top: 10px;
        }
        100% {
          padding-top: 5px;
        }
      }

/* Container modification for all the scroll modules */
.container.scroll-module h2 {
  color: #008b00;
}
.container.scroll-module hr {
  border-top: 1px solid #b0b0b0;
}
@media (min-width: 768px) {
  /* Create spacing for right rail navigation */
  .container.scroll-module {
    padding: 50px 165px;
  }

    /* Spacing and styling for header module */
    .container.scroll-module hr {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .container.scroll-module h2 {
      font-size: 48px;
    }
}
