/*
Colors

@white: #ffffff;
@very-light-gray: #e0e0e0;
@light-gray: #B0B0B0;
@gray: #808080;
@dark-gray: #505050;
@very-dark-gray: #222222;
@green: #008B00;


Media Query Breakpoints

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;
*/

.jumbotron {
  height: 100vh;
  margin-bottom: 0;
  opacity: 0.9;

  background-color: #222222;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}
@media (min-width: 991px) {
  .jumbotron {
    background: no-repeat url('./images/hmc_dartmouth_entrance.jpg');
    background-size: cover;
    border-bottom: 1px solid #e0e0e0;
  }
}

  .jumbotron .container {
    /* Veritcally center contents */
    height: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Style contents */
    color: #ffffff;
    text-align: center;
  }

    .jumbotron .container h1 {
      margin-bottom: 0;
    }
    .jumbotron .container  p {
      margin-top: 0;
    }
    .jumbotron .container  hr {
      width: 175px;
    }
    @media (min-width: 768px) {
      .jumbotron .container h1 {
        font-size: 72px;
      }
      .jumbotron .container  p {
        font-size: 24px;
      }
      .jumbotron .container  hr {
        width: 350px;
      }
    }

  .jumbotron .scroll-down {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #222222;
    border: none;
    border-top: solid 1px #e0e0e0;
  }
  @media (min-width: 768px) {
    .jumbotron .scroll-down {
      right: 5%;
      width: 110px;
      border: solid 1px #505050;
      border-bottom: none;
    }
  }

    .jumbotron .scroll-down .glyphicon {
      left: 2px;
      font-size: 30px;
      color: #ffffff;

      /* animation */
      animation-name: wiggle;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
      @keyframes wiggle {
        0% {
          padding-top: 5px;
        }
        50% {
          padding-top: 10px;
        }
        100% {
          padding-top: 5px;
        }
      }

/* Container modification for all the scroll modules */
.container.scroll-module h2 {
  color: #008B00;
}
.container.scroll-module hr {
  border-top: 1px solid #B0B0B0;
}
@media (min-width: 768px) {
  /* Create spacing for right rail navigation */
  .container.scroll-module {
    padding: 50px 165px;
  }

  /* Spacing and styling for header module */
  .container.scroll-module hr {
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .container.scroll-module h2 {
    font-size: 48px;
  }
}
